<?xml version='1.0'?>
            <model>
            <name>path_walls</name>
            <version>1.0</version>
            <sdf version='1.6'>model.sdf</sdf>
            <author>
                <name>AutoGen Script</name>
                <email>none@example.com</email>
            </author>
            <description>Walls ±0.5 m from path centerline</description>
            </model>
            