<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="spawn_robot" params="name x y z Y urdf">
    <group ns="${name}">
      <param name="robot_description" command="$(find xacro)/xacro --inorder $(find jetbot_world)/urdf/${urdf} botname:=${name}" />
      
      <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen">
        <param name="publish_frequency" type="double" value="50.0" />
        <param name="tf_prefix" value="${name}" />
      </node>
      
      <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -model ${name} -x ${x} -y ${y} -z ${z} -Y ${Y} -param robot_description" />
    </group>
  </xacro:macro>
</robot>
